.container {
  width: 100%;
  height: auto;
  position: relative;
  &--full {
    width: 100vw;
    height: 100vh;
  }
  &--content {
    max-width: 720px;
    left: 340px;
    padding: 30px;
  }
}
