$colors: (
  'primary': #42cfb8,
  'secondary': #202128,
  'light-gray': #888888
);

// Color
@each $name, $value in $colors {
  .color--#{$name} {
    color: $value;
  }
}

// Background
@each $name, $value in $colors {
  .background--#{$name} {
    background: $value;
  }
}
