$colors: (
  'light': #fff,
  'primary': #42cfb8,
  'primaryHover': #89e0d2,
  'secondary': #202128,
  'light-gray': #888888,
  'dark': #222222,
  'danger': #ff5959,
  'warning': #e2e452,
  'success': #8ede96
);

// Color
.color {
  @each $name, $value in $colors {
    &--#{$name} {
      color: $value !important;
    }
  }
}

// Background
@each $name, $value in $colors {
  .background--#{$name} {
    background: $value;
  }
}
