.crop-image {
  cursor: pointer;
  margin-bottom: 50px;
  &__image-canvas {
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 100px;
    background: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }
  }
  &__label {
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 4px;
    display: block;
    position: relative;
  }
}
.crop-image-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  &__image-preview {
    height: 70vh;
    position: relative;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px;
  }
}
